
@keyframes smooth_entry {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 0.8;
    }
}


@-moz-keyframes smooth_entry {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 0.8;
    }
}


@-moz-keyframes smooth_entry {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 0.8;
    }
}
