<nav class="nav">
    <div class="nav_content">
        <div class="nav_logo">
            <a href="/" target="_self">
                <img src="/assets/favicon.ico" />
                <h2 class="nav_title">EarthMessenger的个人网页</h2>
            </a>
        </div>
        <ul class="nav_list">
            <li>
                <a class="nav_a" href="/blogs" target="_self">博客目录</a>
            </li>
            <li>
                <a class="nav_a" href="/feed.xml" target="_self">RSS订阅</a>
            </li>
        </ul>
    </div>
</nav>