* {
    box-sizing: border-box;
}

html, body {
    font-family: "Noto Sans CJK SC", sans-serif;
    line-height: 1.15;
}

#titleBox {
    font-size: 20px;
}

#words {
    position: absolute;
    top: 60%;
    left: 0px;
    height: 40%;
    width: 100%;
    margin: 0 auto;
}

.title1 {
    line-height: 1;
    margin: 2rem;
    font-size: 4em;
}

.title2 {
    line-height: 1;
    margin: 1rem;
    font-size: 2em;
    opacity: 0.61;
}

.middleTitle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.middleWords {
    background-color: white;
    color: black;
    font-size: 20px;
    margin-top: 3em;
    margin-left: 10%;
    margin-right: 10%;
}

.light {
    color: black;
    background-color: white;
}

.bg {
    background-image: url(".\\bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.5;
}

.fullscreen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60%;
}
