
img {
    margin: 0px auto;
}

code {
    font-family: monospace, '等距更纱黑体 SC ', sans-serif;
    background-color: #f6f8f9;
    border-radius: 3px;
}

pre {
    background-color: #f6f8fa;
    line-height: 1.45;
    border-radius: 3px;
    padding: 16px;
    overflow: auto;
}

table {
    margin: 0px auto;
}

table, th, td {
    border: 1px solid currentColor;
    border-collapse: collapse;
    padding: 6px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

h1, h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}

.light {
    color: #333333;
    background-color: #ffffff;
}

.sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    max-width: 60%;
    overflow: hidden;
}

.content * {
    max-width: 100%;
    height: auto;
}

#content {
    border: 1px solid #e1e4e8;
    border-radius: 2px;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

#back_to_menu {
    font-size: 0.9em;
    line-height: 1.48em;
    padding-bottom: 4px;
    text-decoration: none;
    border-bottom: 1px solid #333333;
}

#title {
    font-size: 2em;
    line-height: 1.25em;
    width: 70%;
    margin: 30px auto;
    padding: 0px;
    text-align: center;
}

#blog_data {
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;
}