.highlight code .cp {
    color: #af00db;
}

.highlight code .kt {
    color: #2844bd;
    font-weight: 700;
}

.highlight code .nf {
    color: #be8165;
}

.highlight code .p {
    color: black;
}

.highlight code .n {
    color: #2693c4;
}

.highlight code .o {
    color: black;
}

.highlight code .s {
    color: #ac1560;
}

.highlight code .k {
    color: #2844bd;
    font-weight: 700;
}

.highlight code .mi {
    color: #09865d;
}

.highlight code .c1 {
    color: #2f962f;
    font-style: italic;
}

.highlight code .cm {
    color: #2f962f;
    font-style: italic;
}

.highlight code .nl {
    color: #2844bd;
    font-weight: 700;
}
