
@keyframes smooth_entry_80 {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 0.8;
    }
}


/* @keyframes input_focus {
    from {
        border-right: 1px solid white;
    }
    to {
        border-right: none;
    }
} */