---
layout: none
---

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link href="/assets/style/blog.css" rel="stylesheet" type="text/css" />
    <link href="/assets/style/highlight.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/style/nav.css" type="text/css" />
    <!--不算子计数js-->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <!--不算子计数js-->
    <!--MathJax-->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript"></script>
    <!--MathJax-->
    <title>{{ page.title }}</title>
</head>

<body>
    <div id="root" class="light sans-serif">
        <div id="text" class="container" style="font-size: 16px;">
            <header>
                {% include header.html %}
            </header>
            <div id="content" class="content">
                <h1 id="title_of_text">{{ page.title }}</h1>
                {{ content }}
            </div>
            <div id="blog_data">
                <!--不算子计数-->
                <div id="website_cnt" style="float: left;">
                    <span id="busuanzi_container_page_pv">
                        本文章被巨佬阅读了
                        <span id="busuanzi_value_page_pv">0</span>
                        次
                    </span>
                </div>
                <!--不算子计数-->
                <div id="blog_time" style="float: right;">
                    {{ page.date }}
                </div>
            </div>
        </div>
    </div>
</body>

</html>